---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jetaggart/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1399331133'
      Etag:
      - '"b11784162f013e91467fa8d16e3eae93"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"id":16047004,"name":"batch-api-example","full_name":"jetaggart/batch-api-example","owner":{"login":"jetaggart","id":161737,"avatar_url":"https://avatars.githubusercontent.com/u/161737?","gravatar_id":"ba5a9e5d58ca27cc667aaf826ce91032","url":"https://api.github.com/users/jetaggart","html_url":"https://github.com/jetaggart","followers_url":"https://api.github.com/users/jetaggart/followers","following_url":"https://api.github.com/users/jetaggart/following{/other_user}","gists_url":"https://api.github.com/users/jetaggart/gists{/gist_id}","starred_url":"https://api.github.com/users/jetaggart/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jetaggart/subscriptions","organizations_url":"https://api.github.com/users/jetaggart/orgs","repos_url":"https://api.github.com/users/jetaggart/repos","events_url":"https://api.github.com/users/jetaggart/events{/privacy}","received_events_url":"https://api.github.com/users/jetaggart/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jetaggart/batch-api-example","description":"","fork":false,"url":"https://api.github.com/repos/jetaggart/batch-api-example","forks_url":"https://api.github.com/repos/jetaggart/batch-api-example/forks","keys_url":"https://api.github.com/repos/jetaggart/batch-api-example/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jetaggart/batch-api-example/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jetaggart/batch-api-example/teams","hooks_url":"https://api.github.com/repos/jetaggart/batch-api-example/hooks","issue_events_url":"https://api.github.com/repos/jetaggart/batch-api-example/issues/events{/number}","events_url":"https://api.github.com/repos/jetaggart/batch-api-example/events","assignees_url":"https://api.github.com/repos/jetaggart/batch-api-example/assignees{/user}","branches_url":"https://api.github.com/repos/jetaggart/batch-api-example/branches{/branch}","tags_url":"https://api.github.com/repos/jetaggart/batch-api-example/tags","blobs_url":"https://api.github.com/repos/jetaggart/batch-api-example/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jetaggart/batch-api-example/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jetaggart/batch-api-example/git/refs{/sha}","trees_url":"https://api.github.com/repos/jetaggart/batch-api-example/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jetaggart/batch-api-example/statuses/{sha}","languages_url":"https://api.github.com/repos/jetaggart/batch-api-example/languages","stargazers_url":"https://api.github.com/repos/jetaggart/batch-api-example/stargazers","contributors_url":"https://api.github.com/repos/jetaggart/batch-api-example/contributors","subscribers_url":"https://api.github.com/repos/jetaggart/batch-api-example/subscribers","subscription_url":"https://api.github.com/repos/jetaggart/batch-api-example/subscription","commits_url":"https://api.github.com/repos/jetaggart/batch-api-example/commits{/sha}","git_commits_url":"https://api.github.com/repos/jetaggart/batch-api-example/git/commits{/sha}","comments_url":"https://api.github.com/repos/jetaggart/batch-api-example/comments{/number}","issue_comment_url":"https://api.github.com/repos/jetaggart/batch-api-example/issues/comments/{number}","contents_url":"https://api.github.com/repos/jetaggart/batch-api-example/contents/{+path}","compare_url":"https://api.github.com/repos/jetaggart/batch-api-example/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jetaggart/batch-api-example/merges","archive_url":"https://api.github.com/repos/jetaggart/batch-api-example/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jetaggart/batch-api-example/downloads","issues_url":"https://api.github.com/repos/jetaggart/batch-api-example/issues{/number}","pulls_url":"https://api.github.com/repos/jetaggart/batch-api-example/pulls{/number}","milestones_url":"https://api.github.com/repos/jetaggart/batch-api-example/milestones{/number}","notifications_url":"https://api.github.com/repos/jetaggart/batch-api-example/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jetaggart/batch-api-example/labels{/name}","releases_url":"https://api.github.com/repos/jetaggart/batch-api-example/releases{/id}","created_at":"2014-01-19T14:04:12Z","updated_at":"2014-01-19T14:05:20Z","pushed_at":"2014-01-19T14:05:18Z","git_url":"git://github.com/jetaggart/batch-api-example.git","ssh_url":"git@github.com:jetaggart/batch-api-example.git","clone_url":"https://github.com/jetaggart/batch-api-example.git","svn_url":"https://github.com/jetaggart/batch-api-example","homepage":null,"size":196,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":18422981,"name":"conference-builder","full_name":"jetaggart/conference-builder","owner":{"login":"jetaggart","id":161737,"avatar_url":"https://avatars.githubusercontent.com/u/161737?","gravatar_id":"ba5a9e5d58ca27cc667aaf826ce91032","url":"https://api.github.com/users/jetaggart","html_url":"https://github.com/jetaggart","followers_url":"https://api.github.com/users/jetaggart/followers","following_url":"https://api.github.com/users/jetaggart/following{/other_user}","gists_url":"ht[...]
- request:
    method: get
    uri: https://api.github.com/users/durhamka/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1399331133'
      Etag:
      - '"b541891f09ebbd0041bfb7a179b1d0e3"'
      X-Gith[...]
