<h1>Past repository searches</h1>

<ul>
  <% @repository_searches.each do |repository_search| %>
    <li>
      <%= link_to repository_search.username, repository_search %>
    </li>
  <% end %>
</ul>
