<ul>
    <% @repository_search.results.each do |result| %>
        <li>
            <%= link_to result["name"], repository_issues_path(:username => @repository_search.username, :id => result["name"]) %>
        </li>
    <% end %>
</ul>
