<h1>Repositories for <%= @repository_search.username %></h1>

<ul>
    <% @repository_search.repos.each do |repo| %>
        <li>
            <%= link_to repo.name, repository_issues_path(:username => @repository_search.username, :id => repo.name) %>
        </li>
    <% end %>
</ul>
