---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jetaggart/15753295/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '22'
      X-Ratelimit-Reset:
      - '1399331133'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 05 May 2014 22:51:01 GMT
- request:
    method: get
    uri: https://api.github.com/users/jetaggart/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '12'
      X-Ratelimit-Reset:
      - '1399331133'
      Etag:
      - '"b11784162f013e91467fa8d16e3eae93"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"id":16047004,"name":"batch-api-example","full_name":"jetaggart/batch-api-example","owner":{"login":"jetaggart","id":161737,"avatar_url":"https://avatars.githubusercontent.com/u/161737?","gravatar_id":"ba5a9e5d58ca27cc667aaf826ce91032","url":"https://api.github.com/users/jetaggart","html_url":"https://github.com/jetaggart","followers_url":"https://api.github.com/users/jetaggart/followers","following_url":"https://api.github.com/users/jetaggart/following{/other_user}","gists_url":"https://api.github.com/users/jetaggart/gists{/gist_id}","starred_url":"https://api.github.com/users/jetaggart/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jetaggart/subscriptions","organizations_url":"https://api.github.com/users/jetaggart/orgs","repos_url":"https://api.github.com/users/jetaggart/repos","events_url":"https://api.github.com/users/jetaggart/events{/privacy}","received_events_url":"https://api.github.com/users/jetaggart/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jetaggart/batch-api-example","description":"","fork":false,"url":"https://api.github.com/repos/jetaggart/batch-api-example","forks_url":"https://api.github.com/repos/jetaggart/batch-api-example/forks","keys_url":"https://api.github.com/repos/jetaggart/batch-api-example/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jetaggart/batch-api-example/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jetaggart/batch-api-example/teams","hooks_url":"https://api.github.com/repos/jetaggart/batch-api-example/hooks","issue_events_url":"https://api.github.com/repos/jetaggart/batch-api-example/issues/events{/number}","events_url":"https://api.github.com/repos/jetaggart/batch-api-example/events","assignees_url":"https://api.github.com/repos/jetaggart/batch-api-example/assignees{/user}","branches_url":"https://api.github.com/repos/jetaggart/batch-api-example/branches{/branch}","tags_url":"https://api.github.com/repos/jetaggart/batch-api-example/tags","blobs_url":"https://api.github.com/repos/jetaggart/batch-api-example/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jetaggart/batch-api-example/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jetaggart/batch-api-example/git/refs{/sha}","trees_url":"https://api.github.com/repos/jetaggart/batch-api-example/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jetaggart/batch-api-example/statuses/{sha}","languages_url":"https://api.github.com/repos/jetaggart/batch-api-example/languages","stargazers_url":"https://api.github.com/repos/jetaggart/batch-api-example/stargazers","contributors_url":"https://api.github.com/repos/jetaggart/batch-api-example/contributors","subscribers_url":"https://api.github.com/repos/jetaggart/batch-api-example/subscribers","subscription_url":"https://api.github.com/repos/jetaggart/batch-api-example/subscription","commits_url":"https://api.github.com/repos/jetaggart/batch-api-example/commits{/sha}","git_commits_url":"https://api.github.com/repos/jetaggart/batch-api-example/git/commits{/sha}","comments_url":"https://api.github.com/repos/jetaggart/batch-api-example/comments{/number}","issue_comment_url":"https://api.github.com/repos/jetaggart/batch-api-example/issues/comments/{number}","contents_url":"https://api.github.com/repos/jetaggart/batch-api-example/contents/{+path}","compare_url":"https://api.github.com/repos/jetaggart/batch-api-example/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jetaggart/batch-api-example/merges","archive_url":"https://api.github.com/repos/jetaggart/batch-api-example/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jetaggart/batch-api-example/downloads","issues_url":"https://api.github.com/repos/jetaggart/batch-api-example/issues{/number}","pulls_url":"https://api.github.com/repos/jetaggart/batch-api-example/pulls{/number}","milestones_url":"https://api.github.com/repos/jetaggart/batch-api-example/milestones{/number}","notifications_url":"https://api.github.com/repos/jetaggart/batch-api-example/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jetaggart/batch-api-example/labels{/name}","releases_url":"https://api.github.com/repos/jetaggart/batch-api-example/releases{/id}","created_at":"2014-01-19T14:04:12Z","updated_at":"2014-01-19T14:05:20Z","pushed_at":"2014-01-19T14:05:18Z","git_url":"git://github.com/jetaggart/batch-api-example.git","ssh_url":"git@github.com:jetaggart/batch-api-example.git","clone_url":"https://github.com/jetaggart/batch-api-example.git","svn_url":"https://github.com/jetaggart/batch-api-example","homepage":null,"size":196,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":18422981,"name":"conference-builder","full_name":"jetaggart/conference-builder","owner":{"login":"jetaggart","id":161737,"avatar_url":"https://avatars.githubusercontent.com/u/161737?","gravatar_id":"ba5a9e5d58ca27cc667aaf826ce91032","url":"https://api.github.com/users/jetaggart","html_url":"https://github.com/jetaggart","followers_url":"https://api.github.com/users/jetaggart/followers","following_url":"https://api.github.com/users/jetaggart/following{/other_user}","gists_url":"ht[...]
- request:
    method: get
    uri: https://api.github.com/repos/jetaggart/light-haskell/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '11'
      X-Ratelimit-Reset:
      - '1399331133'
      Etag:
      - '"993479c2597392c6c50648fb5ef04fe5"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/jetaggart/light-haskell/issues/43","labels_url":"https://api.github.com/repos/jetaggart/light-haskell/issues/43/labels{/name}","comments_url":"https://api.github.com/repos/jetaggart/light-haskell/issues/43/comments","events_url":"https://api.github.com/repos/jetaggart/light-haskell/issues/43/events","html_url":"https://github.com/jetaggart/light-haskell/issues/43","id":32432529,"number":43,"title":"Seems
        like nothing working...","user":{"login":"NovaDev94","id":6073918,"avatar_url":"https://avatars.githubusercontent.com/u/6073918?","gravatar_id":"17e7f6d9c1cb9ddbcfeaac990b08a1e4","url":"https://api.github.com/users/NovaDev94","html_url":"https://github.com/NovaDev94","followers_url":"https://api.github.com/users/NovaDev94/followers","following_url":"https://api.github.com/users/NovaDev94/following{/other_user}","gists_url":"https://api.github.com/users/NovaDev94/gists{/gist_id}","starred_url":"https://api.github.com/users/NovaDev94/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NovaDev94/subscriptions","organizations_url":"https://api.github.com/users/NovaDev94/orgs","repos_url":"https://api.github.com/users/NovaDev94/repos","events_url":"https://api.github.com/users/NovaDev94/events{/privacy}","received_events_url":"https://api.github.com/users/NovaDev94/received_events","type":"User","site_admin":false},"labels":[],"state":"open","assignee":null,"milestone":null,"comments":0,"created_at":"2014-04-29T10:04:35Z","updated_at":"2014-04-29T10:04:35Z","closed_at":null,"body":"I
        install Light-haskell through LightTable plugin manager\r\nCreate a new haskell
        file (without any projects), and the functions didn''t work (from eval to
        lint...)\r\nThe Connections tab keeps saying \"Connecting...\"\r\n\r\nI''m
        currently using:\r\n- Win8 64bit\r\n- Haskell Platform 2013.2.0.0\r\n- Cabal
        1.20 (configured)\r\n- LightTable 0.6.5"},{"url":"https://api.github.com/repos/jetaggart/light-haskell/issues/42","labels_url":"https://api[...]
